    {% load thumbnail %}
     <div class="browser_width grpelem" id="u157-bw">
      <div id="u157"><!-- simple frame --></div>
     </div>
     <div class="PamphletWidget clearfix grpelem" id="pamphletu202"><!-- none box -->
      <div class="popup_anchor" id="u203popup">
       <div class="ContainerGroup clearfix" id="u203"><!-- none box -->
           {% for review in reviews %}

        <div class="Container clearfix grpelem" id="u209"><!-- group -->
            {% thumbnail review.image "180x180" crop='center' as rev_tag %}
         <div class="rounded-corners grpelem" id="u245" style="background: transparent url('{{ rev_tag.url }}') no-repeat center center;"><!-- simple frame --></div>
            {% endthumbnail %}
            <div class="clearfix grpelem" id="u210-7"><!-- content -->
          <p id="u210-2">{{ review.text|safe }}</p>
          <p id="u210-5"><span id="u210-3">&#45; {{ review.reviewer }}</span></p>
         </div>
        </div>
             {% endfor %}
       </div>
      </div>
      <div class="ThumbGroup clearfix grpelem" id="u223"><!-- none box -->
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners" id="u226"><!-- simple frame --></div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners" id="u250"><!-- simple frame --></div>
       </div>
       <div class="popup_anchor">
        <div class="Thumb popup_element rounded-corners" id="u256"><!-- simple frame --></div>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u389-6"><!-- content -->
      <p><span id="u389-2">Отзывы</span> покупателей</p>
     </div>