{% load thumbnail %}

{% for good in goods %}
<div class="clearfix grpelem" id="pu103"><!-- column -->
    {% thumbnail good.image "233x233" crop='center' as im_tag %}
      <a class="nonblock nontext rounded-corners colelem" id="u82" href="{{ good.get_absolute_url }}" style="background: #FFFFFF url('{{ im_tag.url }}') no-repeat center center;"><!-- simple frame --></a>
    {% endthumbnail %}
    <div class="clearfix colelem" id="u91-6"><!-- content -->
       <p class="H3">{{ good.title }}</p>
       <p class="Price"><i class="fa fa-rub"></i> {{ good.price }}</p>
      </div>
</div>
{% endfor %}
