 {% load thumbnail %}
{% for good in goods %}
    <div class="clearfix colelem" id="pu1622"><!-- group -->
<div class="clearfix grpelem" id="u1622"><!-- column -->
    {% thumbnail good.image "235x235" crop='center' as im_tag_inner %}
      <a class="nonblock nontext colelem" id="u1624" href="{{ good.get_absolute_url }}" style="background: #FFFFFF url('{{ im_tag_inner.url }}') no-repeat center center;"><!-- simple frame --></a>
     {% endthumbnail %}
    <div class="clearfix colelem" id="u1623-6"><!-- content -->
       <p class="H3">{{ good.title }}</p>
       <p class="Price">{{ good.price }}</p>
      </div>
 </div>
        </div>
{% endfor %}

