{% load thumbnail %}
{% for good in goods %}
     <div class="clearfix grpelem" id="pu145"><!-- column -->
           {% thumbnail good.image "233x233" crop='center' as im_tag_b %}
      <a class="nonblock nontext rounded-corners colelem" id="u146" href="{{ good.get_absolute_url }}" style="background: #FFFFFF url('{{ im_tag_b.url }}') no-repeat center center;"><!-- simple frame --></a>
          {% endthumbnail %}
      <div class="clearfix colelem" id="u147-6"><!-- content -->
       <p class="H3">{{ good.title }}</p>
       <p class="Price">{{ good.price }}</p>
      </div>
     </div>
{% endfor %}