    {% extends 'pages/base.html' %}
{% load staticfiles %}
{% load goods_tags %}
{% load thumbnail %}
{% block custom_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/product-2.css" id="pagesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/master_b-master.css" id="pagesheet"/>
<link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/bootstrap.css" id="pagesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/bootstrap-theme.css" id="pagesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/shop.css?4030363361" id="pagesheet"/>
{% endblock %}
{% block content %}
    <div class="H1 clearfix colelem" id="u1481-5"><!-- content -->
     <h1>Каталог<span id="u1481-2"> товаров</span></h1>
    </div>
 {% if good %}
    <div class="PamphletWidget clearfix colelem" id="pamphletu1727"><!-- none box -->
     <div class="popup_anchor" id="u1734popup">
      <div class="ContainerGroup clearfix" id="u1734">
          <!-- none box -->
          <div class="Container rounded-corners grpelem" id="u1737" style="background: #FFFFFF url('{{ good.image.url }}') no-repeat center center;"></div>
       {% if good.add_image1 %}
          <div class="Container invi rounded-corners grpelem" id="u1736" style="background: #FFFFFF url('{{ good.add_image1.url }}') no-repeat center center;"></div>
       {% endif %}
           {% if good.add_image2 %}
          <div class="Container invi rounded-corners grpelem" id="u1735" style="background: #FFFFFF url('{{ good.add_image2.url }}') no-repeat center center;"></div>
          {% endif %}
      </div>
     </div>
     <div class="ThumbGroup clearfix grpelem" id="u1740"><!-- none box -->
      <div class="popup_anchor">

           {% thumbnail good.image "147x147" crop='center' as im %}
               <div class="Thumb popup_element rounded-corners" id="u1743" style="background: #FFFFFF url('{{ im.url }}') no-repeat center center;"></div>-->
            {% endthumbnail %}

      </div>
     {% if good.add_image1 %}
      <div class="popup_anchor">
          {% thumbnail good.add_image1 "147x147" crop='center' as im_add1 %}
       <div class="Thumb popup_element rounded-corners" id="u1741" style="background: #FFFFFF url(' {{ im_add1.url }} ') no-repeat center center;"></div>
             {% endthumbnail %}
      </div>
         {% endif %}
          {% if good.add_image2 %}
      <div class="popup_anchor">
      {% thumbnail good.add_image2 "147x147" crop='center' as im_add2 %}
       <div class="Thumb popup_element rounded-corners" id="u1742" style="background: #FFFFFF url('{{ im_add2.url }}') no-repeat center center;"></div>
         {% endthumbnail %}
      </div>
          {% endif %}
     </div>
    </div>
    <div class="clearfix colelem" id="u1726-11"><!-- content -->
     <p class="H2" id="u1726-2">{{ good.title }}</p>
     <p class="p">{{ good.detail|safe }}</p>
    </div>
     {% endif %}
    <div class="clearfix colelem" id="u1717"><!-- column -->
     <div class="clearfix colelem" id="u1720"><!-- group -->
      <div class="clearfix grpelem" id="u1725" style="display: none"><!-- group -->
       <div class="grpelem" id="u1721"><!-- custom html -->

<div class="fb-like" data-href="http://graphiclife.net/product-2.html" data-send="false" data-width="275" data-show-faces="false" data-colorscheme="light" data-layout="standard" data-action="like"></div>

</div>
      </div>
      <div class="grpelem" id="u1723"><!-- custom html -->

<a href="https://twitter.com/share" class="twitter-share-button" data-count="true" data-lang="en" data-url="graphiclife.net/product-2.html" data-size="medium" data-text="@AdobeMuse is awesome! #winning" data-related="AdobeMuse"></a>

</div>
     </div>
     <div class="clearfix colelem" id="pu1718-6"><!-- group -->
      <div class="clearfix grpelem" id="u1718-6"><!-- content -->
       <p><span id="u1718">Цена:</span> <span id="u1718-3">{{ good.price }} <i class="fa fa-rub"></i></span></p>
      </div>
      <a class="nonblock nontext rounded-corners clearfix grpelem fancybox fancybox.iframe" id="u1719-4" href="{% url 'goods_details' good.slug %}iframe.html"><!-- content --><p style="margin-top: 10px; font-size: 25px; text-decoration: none;">Купить</p></a>
     </div>
    </div>
    <div class="H2 clearfix colelem" id="u1478-5"><!-- content -->
     <span id="u1478-2">Другие товары</span>
    </div>
    <div class="clearfix colelem" id="pu1622"><!-- group -->
        {% goods_tag_inner goods %}
    </div>
    <div class="verticalspacer"></div>

{% endblock %}

{% block custom_scripts %}


  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
$('#u2396-bw').registerPositionScrollEffect([{"in":[-Infinity,30],"speed":[null,1]},{"in":[30,Infinity],"speed":[null,0]}]);/* scroll effect */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
$('#u2397').registerPositionScrollEffect([{"in":[-Infinity,15],"speed":[0,1]},{"in":[15,Infinity],"speed":[0,0]}]);/* scroll effect */
Muse.Utils.initWidget('#pamphletu1727', function(elem) { new WebPro.Widget.ContentSlideShow(elem, {contentLayout_runtime:'loose',event:'mouseover',deactivationEvent:'none',autoPlay:false,displayInterval:3000,transitionStyle:'fading',transitionDuration:500,hideAllContentsFirst:false,shuffle:false,enableSwipe:true,resumeAutoplay:false,resumeAutoplayInterval:3000,playOnce:false}); });/* #pamphletu1727 */
Muse.Utils.initWidget('#widgetu2921', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu2921 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>

{% endblock %}


