


{% extends 'pages/base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block custom_style %} <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/bootstrap.css" id="pagesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/bootstrap-theme.css" id="pagesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/shop.css?4030363361" id="pagesheet"/>
{% endblock %}


{% block content %}
    <div class="clearfix colelem" id="pu1108-5"><!-- group -->
     <div class="H1 clearfix grpelem" id="u1108-5"><!-- content -->
      <h1><span id="u1108-2">Каталог</span></h1>
     </div>
    </div>
    <div class="clearfix colelem" id="u1110"><!-- group -->
{% for good in goods %}
     <div class="clearfix grpelem"><!-- column -->
          {% thumbnail good.image "235x235" crop='center' as im %}
      <a class="nonblock nontext rounded-corners colelem" id="u1061" href="{{ good.get_absolute_url }}" style="background: #FFFFFF url('{{ im.url }}') no-repeat center center;"></a>
      {% endthumbnail %}
         <div class="clearfix colelem" id="u1062-6"><!-- content -->
       <p class="H3">{{ good.title| truncatewords:4 }}</p>
       <p class="Price"><i class="fa fa-rub"></i> {{ good.price }}</p>
              <a class="nonblock nontext rounded-corners clearfix grpelem fancybox fancybox.iframe" id="u1719-4-list" href="{% url 'goods_details' good.slug %}iframe.html"><!-- content --><p style="margin-top: 10px;">Купить</p></a>
      </div>
     </div>
    <div>

    </div>
{% endfor %}
    </div>
    <div class="verticalspacer"></div>
{% endblock %}