<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/bootstrap.css" id="pagesheet"/>
 <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/bootstrap-theme.css" id="pagesheet"/>
     <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/product-2.css" id="pagesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/site_global.css" id="pagesheet"/>

</head>
<body>
<h3 id="order_popup">Оформление заказа</h3><br>
<div class="js-form" style="overflow: hidden">
	<form role="form" method="POST" action="#" style="margin-left: 35px">
        {% csrf_token %}
        {{ form.non_field_errors }}
         <div class="form-group">
             {{ form.phone.errors }}
             {{ form.phone }}
         </div>
         <div class="form-group">
              {{ form.address.errors }}
             {{ form.address }}
         </div>
        <div class="form-group">
              {{ form.first_name.errors }}
             {{ form.first_name }}
         </div>
         <div class="form-group">
              {{ form.good.errors }}
             {{ form.good }}
         </div>
             <button type="submit" class="btn" id="u1719-4-frame">Купить</button>
    </form>
</div>

<script src="{% static 'pages' %}/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>

