{% load thumbnail %}
 {% block custom_style %}
{% endblock %}

{% for entry in entries %}
    {% thumbnail entry.image "333x433" crop='center' as ar_tag %}
<div id="u131"><!-- group -->
        <img class="random_article_img" src="{{ ar_tag.url }}" alt="">
      {% endthumbnail %}
      <div class="clearfix" id="u131_align_to_page">
       <div class="clearfix grpelem" id="u2458"><!-- column -->
        <div class="clearfix colelem" id="u132-11"><!-- content -->
         <h1 class="H2" id="u132-3"><span id="u132-2">{{ entry.title }}</span></h1>
         <p class="p">{{ entry.tease|truncatewords:70|safe }}</p>
        </div>
        <a class="nonblock nontext rounded-corners clearfix colelem" id="u141-4" href="{{ entry.get_absolute_url }}"><!-- content --><p>Подробнее</p></a>
       </div>
      </div>
</div>

{% endfor %}