{% extends 'pages/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block custom_style %}<link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/about.css" id="pagesheet"/>{% endblock %}
{% block content %}
    <div class="browser_width colelem" id="u920-bw" style="height: 493px;">
     <div id="u920"><!-- group -->
         {% for entry in  entries %}
      <div class="clearfix" id="u920_align_to_page">
       <div class="clearfix grpelem" id="pu888-5"><!-- column -->
        <div class="H1 clearfix colelem" id="u888-5"><!-- content -->
         <a href="{{ entry.get_absolute_url }}">  <h1><span id="u888-2">{{ entry.title }}</span></h1></a>
        </div>
        <div class="clearfix colelem" id="u2496"><!-- column -->
         <div class="p clearfix colelem" id="u889-8"><!-- content -->
          <p>{{ entry.tease|truncatewords:70|safe }}
              {% thumbnail entry.image "490x300" crop='center' as im %}
        <img class="block" id="u891_img" src="{{ im.url }}" alt="" width="490" height="300"/>
{% endthumbnail %}
          </p>
         </div>
        </div>
       </div>
      </div>
          {% endfor %}
     </div>
    </div>
{% endblock %}