{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block custom_style %}<link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/about.css?167525336" id="pagesheet"/>{% endblock %}
{% block content %}
    <div class="browser_width colelem" id="u920-bw">
     <div id="u920"><!-- group -->
      <div class="clearfix" id="u920_align_to_page">
       <div class="clearfix grpelem" id="pu888-5"><!-- column -->
        <div class="H1 clearfix colelem" id="u888-5"><!-- content -->
         <h1>About<span id="u888-2"> Us</span></h1>
        </div>
        <div class="clearfix colelem" id="u2496"><!-- column -->
         <div class="p clearfix colelem" id="u889-8"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis est nulla</p>
          <p>pretium mollis et in lacus. Vestibulum molestie odio metus, auctor pellentesu</p>
          <p>lectus semper. Sed eget nisl posuere, viverra odio in, vestibulum mauris.</p>
         </div>
         <div class="p clearfix colelem" id="u1614-6"><!-- content -->
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis quis</p>
          <p>est nulla pretium mollis et in lacus. Vestibulum molestie odio.</p>
         </div>
         <div class="p clearfix colelem" id="u1615-6"><!-- content -->
          <p>Nullam vehicula vestibulum lorem non sollicitudin curabitur pretium con</p>
          <p>entum velit, nec vehicula elit ullamcorper eu. Nullam tincidunt viverra varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis est a nulla pretium mollis et in lacus odio metus, auctor.</p>
         </div>
        </div>
       </div>
       <div class="rounded-corners clip_frame grpelem" id="u891"><!-- image -->
        <img class="block" id="u891_img" src="{% static 'pages' %}/images/about1490x300.jpg" alt="" width="490" height="300"/>
       </div>
      </div>
     </div>
    </div>


    <div class="verticalspacer"></div>
{% endblock %}