{% load staticfiles %}
{% block header %}
<!DOCTYPE html>
<html class="html" lang="en-US">
 <head>

  <script type="text/javascript">
   if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.watch.js", "jquery.musemenu.js", "webpro.js", "musewpslideshow.js", "jquery.museoverlay.js", "touchswipe.js", "jquery.scrolleffects.js", "museredirect.js", "index.css"], "outOfDate":[]};
</script>

  <script src="{% static 'pages' %}/scripts/museredirect.js?17485671" type="text/javascript"></script>
  
  <script type="text/javascript">
   Muse.Redirect.redirect('desktop', '');
</script>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2014.2.1.284"/>
  <title>Shop</title>
  <link media="only screen and (max-device-width: 370px)" rel="alternate" href="http://graphiclife.net/phone/index.html"/>
  <link media="only screen and (max-device-width: 960px)" rel="alternate" href="http://graphiclife.net/tablet/index.html"/>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/site_global.css?340550238"/>
  <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/master_a-master.css?85009750"/>
  <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/index.css" id="pagesheet"/>

 <style>
     .fancybox-inner {
         height: 400px !important;
     }
 </style>
     {% block custom_style %}<link rel="stylesheet" type="text/css" href="css/about.css?167525336" id="pagesheet"/>{% endblock %}
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/iefonts_index.css?4018023292"/>
  <![endif]-->
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className += ' js';
var __adobewebfontsappname__ = "muse";
</script>
  <!-- JS includes -->
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/lato:n4,n3:all;open-sans:n7,n4:all.js" type="text/javascript">\x3C/script>');
</script>
  <!--[if lt IE 9]>
  <script src="{% static 'pages' %}/scripts/html5shiv.js?4241844378" type="text/javascript"></script>
  <![endif]-->
    <!--custom head HTML-->
  <link rel="stylesheet" href="{% static 'pages' %}/css/font-awesome.min.css">


<style>
#page .verticalspacer {
min-height: 0px !important;
height: 0px !important;
}
.submit-btn {cursor: pointer;}
</style>
 </head>
 <body>
 {% endblock %}
    <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="browser_width mse_pre_init" id="u74-bw">
     <div id="u74"><!-- simple frame --></div>
    </div>
    <div class="clearfix mse_pre_init" id="u2395"><!-- group -->
     <div class="clearfix grpelem" id="pu1054"><!-- column -->
      <a class="nonblock nontext MuseLinkActive clip_frame colelem" id="u1054" href="/"><!-- image --><img class="block" id="u1054_img" src="{% static 'pages' %}/images/logo.png" alt="" width="145" height="27"/></a>
<div class="clearfix colelem" id="u1047-4"><!-- content -->
       <p>Adobe Muse</p>
      </div>
     </div>
     <nav class="MenuBar clearfix grpelem" id="menuu766"><!-- horizontal box -->
      <div class="MenuItemContainer clearfix grpelem" id="u767"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u768" href="/"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u770-4"><!-- content --><p>Главная</p></div></a>
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u791"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu  clearfix colelem" id="u792" href="{% url 'about' %}"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u794-4"><!-- content --><p>О нас</p></div></a>
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u808"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u809" href="{% url 'goods_list' %}"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u811-4"><!-- content --><p>Каталог</p></div></a>
      </div>

      <div class="MenuItemContainer clearfix grpelem" id="u815-33"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u816" href="{% url 'article_list' %}"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u818-4"><!-- content --><p>Статьи</p></div></a>
      </div>
         <div class="MenuItemContainer clearfix grpelem" id="u815-34"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u816" href="{% url 'review_list' %}"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u818-4"><!-- content --><p>Отзывы</p></div></a>
      </div>
         <div class="MenuItemContainer clearfix grpelem" id="u815"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u816" href="{% url 'faq' %}"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u818-4"><!-- content --><p>Вопросы</p></div></a>
      </div>
      <div class="MenuItemContainer clearfix grpelem" id="u2248"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u2251" href="{% url 'contacts' %}"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u2252-4"><!-- content --><p>Контакты</p></div></a>
      </div>
     </nav>
     <div class="clearfix grpelem" id="u836"><!-- group -->
      <div class="pointer_cursor rounded-corners clearfix grpelem" id="u89"><!-- group -->
       <a class="block" href="http://twitter.com"></a>
       <a class="nonblock nontext grpelem" id="u832" href="http://twitter.com"><!-- custom html --><i class="fa fa-vk"></i></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u845"><!-- group -->
      <div class="pointer_cursor rounded-corners clearfix grpelem" id="u829"><!-- group -->
       <a class="block" href="http://facebook.com"></a>
       <a class="nonblock nontext grpelem" id="u834" href="http://facebook.com"><!-- custom html --><i class="fa fa-instagram"></i></a>
      </div>
     </div>
    </div>
     {% block content %}

       {% endblock %}
   {% block footer %}
    <div class="clearfix colelem" id="pu290"><!-- group -->
     <div class="browser_width grpelem" id="u290-bw">
      <div id="u290"><!-- group -->
       <div class="clearfix" id="u290_align_to_page">
        <div class="clearfix grpelem" id="u392-15"><!-- content -->
         <p id="u392-2">О нас</p>
         <p id="u392-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
         <p id="u392-6">Duis quis est a nulla pretium mollis et in lacus. Vestibulum</p>
         <p id="u392-8">molestie odio metus, auctor pellentesque. Lectus emper.</p>
         <p id="u392-10">Sed eget nisl posuere odio, vestibulum mauris.</p>
         <p id="u392-13"><a class="nonblock" href="{% url 'about' %}">Подробнее</a></p>
        </div>
        <div class="clearfix grpelem" id="u2459"><!-- column -->
         <div class="clearfix colelem" id="u586-4"><!-- content -->

         </div>
         <nav class="MenuBar clearfix colelem" id="menuu510"><!-- vertical box -->
          <div class="MenuItemContainer clearfix colelem" id="u551"><!-- horizontal box -->
           <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u552"><!-- horizontal box -->
            <div class="grpelem" id="u553"><!-- image --></div>
            <div class="MenuItemLabel clearfix grpelem" id="u554-4"><!-- content -->
             <p>Как сделать заказ</p>
            </div>
           </div>
          </div>
          <div class="MenuItemContainer clearfix colelem" id="u558"><!-- horizontal box -->
           <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u559"><!-- horizontal box -->
            <div class="grpelem" id="u562"><!-- image --></div>
            <div class="MenuItemLabel clearfix grpelem" id="u561-4"><!-- content -->
             <p>Оплата</p>
            </div>
           </div>
          </div>
          <div class="MenuItemContainer clearfix colelem" id="u565"><!-- horizontal box -->
           <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u566"><!-- horizontal box -->
            <div class="grpelem" id="u568"><!-- image --></div>
            <div class="MenuItemLabel clearfix grpelem" id="u569-4"><!-- content -->
             <p>Доставка</p>
            </div>
           </div>
          </div>
          <div class="MenuItemContainer clearfix colelem" id="u572"><!-- horizontal box -->
           <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u573"><!-- horizontal box -->
            <div class="grpelem" id="u574"><!-- image --></div>
            <div class="MenuItemLabel clearfix grpelem" id="u575-4"><!-- content -->
             <p>Анонимность</p>
            </div>
           </div>
          </div>
          <div class="MenuItemContainer clearfix colelem" id="u579"><!-- horizontal box -->
           <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u580"><!-- horizontal box -->
            <div class="grpelem" id="u582"><!-- image --></div>
            <div class="MenuItemLabel clearfix grpelem" id="u581-4"><!-- content -->
             <p>Акции</p>
            </div>
           </div>
          </div>
              <div class="MenuItemContainer clearfix colelem" id="u579-1"><!-- horizontal box -->
           <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u580"><!-- horizontal box -->
            <div class="grpelem" id="u582"><!-- image --></div>
            <div class="MenuItemLabel clearfix grpelem" id="u581-4"><!-- content -->
             <p>Подарочные сертификаты</p>
            </div>
           </div>
          </div>
         </nav>
        </div>
           <!--форма подписки
        <div class="clearfix grpelem" id="u2461">
         <div class="clearfix colelem" id="u588-6">
          <p id="u588-2">Newsletter</p>
          <p id="u588-4">Special offers and promotions.</p>
         </div>
         <form class="form-grp clearfix colelem" id="widgetu635" method="post" enctype="multipart/form-data" action="scripts/form-u635.php">
          <div class="fld-grp clearfix grpelem" id="widgetu664" data-required="true">
           <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u668-4"><input class="wrapped-input" type="text" spellcheck="false" id="widgetu664_input" name="custom_U664" tabindex="1"/><label class="wrapped-input fld-prompt" id="widgetu664_prompt" for="widgetu664_input"><span class="actAsPara">Name</span></label></span>
          </div>
          <div class="fld-grp clearfix grpelem" id="widgetu657" data-required="true" data-type="email">
           <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u658-4"><input class="wrapped-input" type="text" spellcheck="false" id="widgetu657_input" name="Email" tabindex="2"/><label class="wrapped-input fld-prompt" id="widgetu657_prompt" for="widgetu657_input"><span class="actAsPara">Email</span></label></span>
          </div>
          <div class="clearfix grpelem" id="u662-4">
           <p>Submitting Form...</p>
          </div>
          <div class="clearfix grpelem" id="u650-4">
           <p>The server encountered an error.</p>
          </div>
          <div class="clearfix grpelem" id="u651-4">
           <p>Form received.</p>
          </div>
          <input class="submit-btn NoWrap grpelem" id="u663-13" type="submit" value="" tabindex="3"/>
         </form>
        </div>
           -->
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u2460"><!-- column -->
      <div class="clearfix colelem" id="u587-4"><!-- content -->
      </div>
      <nav class="MenuBar clearfix colelem" id="menuu694"><!-- vertical box -->
       <div class="MenuItemContainer clearfix colelem" id="u709"><!-- horizontal box -->
        <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u710"><!-- horizontal box -->
        <div class="rounded-corners clearfix grpelem" id="u78-1-footer"><!-- group -->
         <div class="grpelem" id="u876"><!-- custom html -->
          <i class="fa fa-bottom fa-phone"></i>
         </div>
        </div>
         <div class="MenuItemLabel clearfix grpelem" id="u712-4"><!-- content -->
          <p>(+386) 66 777 888 Киев</p>
         </div>
        </div>
       </div>
       <div class="MenuItemContainer clearfix colelem" id="u695"><!-- horizontal box -->
        <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u696"><!-- horizontal box -->
          <div class="rounded-corners clearfix grpelem" id="u78-1-footer"><!-- group -->
         <div class="grpelem" id="u876"><!-- custom html -->
          <i class="fa fa-bottom fa-mobile"></i>
         </div>
        </div>
         <div class="MenuItemLabel clearfix grpelem" id="u712-4"><!-- content -->
          <p>(+386) 66 777 888 Киев</p>
         </div>
        </div>
       </div>
       <div class="MenuItemContainer clearfix colelem" id="u727"><!-- horizontal box -->
        <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u728"><!-- horizontal box -->
        <div class="rounded-corners clearfix grpelem" id="u78-1-footer"><!-- group -->
         <div class="grpelem" id="u876"><!-- custom html -->
          <i class="fa fa-bottom fa-envelope"></i>
         </div>
        </div>
         <div class="MenuItemLabel clearfix grpelem" id="u712-4"><!-- content -->
          <p>info@g-sex.com</p>
         </div>
        </div>
       </div>
       <div class="MenuItemContainer clearfix colelem" id="u702"><!-- horizontal box -->
        <div class="MenuItem MenuItemWithSubMenu clearfix grpelem" id="u703"><!-- horizontal box -->
         <div class="rounded-corners clearfix grpelem" id="u78-1-footer"><!-- group -->
         <div class="grpelem" id="u876"><!-- custom html -->
          <i class="fa fa-bottom fa-map-marker"></i>
         </div>
        </div>
         <div class="MenuItemLabel clearfix grpelem" id="u712-4"><!-- content -->
          <p>Киев. ул. Рогнеденская, 1/13</p>
         </div>
        </div>
       </div>
      </nav>
     </div>
    </div>

    <div class="browser_width colelem" id="u291-bw">
     <div id="u291"><!-- group -->
      <div class="clearfix" id="u291_align_to_page">
       <div class="p clearfix grpelem" id="u320-4"><!-- content -->
        <p>© 2016  All Rights Reserved.</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>


  <div class="preload_images">
   <img class="preload" src="{% static 'pages' %}/images/send-icon-u663-13-r.png" alt=""/>
   <img class="preload" src="{% static 'pages' %}/images/send-icon-u663-13-m.png" alt=""/>
   <img class="preload" src="{% static 'pages' %}/images/send-icon-u663-13-fs.png" alt=""/>
  </div>
  <!-- JS includes -->
  <script type="text/javascript">
   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn2.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="{% static 'pages' %}/scripts/museutils.js?3777594392" type="text/javascript"></script>
  <script src="{% static 'pages' %}/scripts/jquery.scrolleffects.js" type="text/javascript"></script>
  <script src="{% static 'pages' %}/scripts/jquery.watch.js?4144919381" type="text/javascript"></script>
  <script src="{% static 'pages' %}/scripts/jquery.musemenu.js?415733523" type="text/javascript"></script>
  <script src="{% static 'pages' %}/scripts/webpro.js" type="text/javascript"></script>
  <script src="{% static 'pages' %}/scripts/musewpslideshow.js" type="text/javascript"></script>
  <script src="{% static 'pages' %}/scripts/jquery.museoverlay.js?170414611" type="text/javascript"></script>
       <script src="{% static 'pages' %}/scripts/order_form.js" type="text/javascript"></script>
  <script src="{% static 'pages' %}/scripts/touchswipe.js?100683906" type="text/javascript"></script>
       <script src="{% static 'pages' %}/scripts/musewpdisclosure.js?3952359668" type="text/javascript"></script>
      <script src="{% static 'pages' %}/js/bootstrap.js" type="text/javascript"></script>

   <script type="text/javascript">
  $(document).ready(function(){
    var link = window.location.pathname;
    $('a[href="'+link+'"]').addClass('MuseMenuActive');
  });
</script>


  <script type="text/javascript" src="{% static 'pages' %}/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <!-- Add fancyBox main JS and CSS files -->
  <script type="text/javascript" src="{% static 'pages' %}/source/jquery.fancybox.js?v=2.1.5"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/source/jquery.fancybox.css?v=2.1.5" media="screen" />
  <!-- Add Button helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
  <script type="text/javascript" src="{% static 'pages' %}/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
  <!-- Add Thumbnail helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
  <script type="text/javascript" src="{% static 'pages' %}/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
  <!-- Add Media helper (this is optional) -->
  <script type="text/javascript" src="{% static 'pages' %}/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <script type="text/javascript" src="{% static 'pages' %}/scripts/fancybox-script.js"></script>

  <style type="text/css">
    .fancybox-custom .fancybox-skin {
      box-shadow: 0 0 50px #222;
    }
  </style>


  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
$('#u74-bw').registerPositionScrollEffect([{"in":[-Infinity,30],"speed":[null,1]},{"in":[30,Infinity],"speed":[null,0]}]);/* scroll effect */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
$('#u2395').registerPositionScrollEffect([{"in":[-Infinity,15],"speed":[0,1]},{"in":[15,Infinity],"speed":[0,0]}]);/* scroll effect */
Muse.Utils.initWidget('#pamphletu202', function(elem) { new WebPro.Widget.ContentSlideShow(elem, {contentLayout_runtime:'loose',event:'click',deactivationEvent:'mouseout_click',autoPlay:true,displayInterval:3000,transitionStyle:'fading',transitionDuration:500,hideAllContentsFirst:false,shuffle:false,enableSwipe:true,resumeAutoplay:false,resumeAutoplayInterval:3000,playOnce:false}); });/* #pamphletu202 */
Muse.Utils.initWidget('#widgetu635', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu635 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
{% block custom_scripts %}

{% endblock %}

   </body>
</html>
{% endblock %}