{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block custom_style %}<link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/faq.css?4021044410" id="pagesheet"/>{% endblock %}
{% block content %}


<div class="H1 clearfix colelem" id="u2266-5"><!-- content -->
     <h1><span id="u2266-2">Часто задаваемые вопросы</span></h1>
    </div>
    <div class="p clearfix colelem" id="u2267-6"><!-- content -->
     <p>This is Photoshop's version&nbsp; of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,</p>
     <p>nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
    </div>
    <div class="clearfix colelem" id="u2299"><!-- column -->
     <div class="H2 clearfix colelem" id="u2268-5"><!-- content -->
      <p><span id="u2268-2"></span></p>
     </div>
     <ul class="AccordionWidget clearfix colelem" id="accordionu2269"><!-- vertical box -->
         {% for entry in entries %}
      <li class="AccordionPanel clearfix colelem" id="u2285"><!-- vertical box --><div class="AccordionPanelTab rounded-corners p clearfix colelem" id="u2286-4"><!-- content --><p>{{ entry.question }}</p></div><div class="AccordionPanelContent clearfix colelem" id="u2287"><!-- group --><div class="p clearfix grpelem" id="u2288-4"><!-- content --><p id="u2288-2">{{ entry.answer|safe }}</p></div></div></li>
     {% endfor %}
     </ul>
    </div>


    <div class="verticalspacer"></div>

{% endblock %}

{% block custom_scripts %}
       <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
$('#u74-bw').registerPositionScrollEffect([{"in":[-Infinity,30],"speed":[null,1]},{"in":[30,Infinity],"speed":[null,0]}]);/* scroll effect */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
$('#u2395').registerPositionScrollEffect([{"in":[-Infinity,15],"speed":[0,1]},{"in":[15,Infinity],"speed":[0,0]}]);/* scroll effect */
Muse.Utils.initWidget('#accordionu2269', function(elem) { return new WebPro.Widget.Accordion(elem, {canCloseAll:false,defaultIndex:0}); });/* #accordionu2269 */
Muse.Utils.initWidget('#accordionu2343', function(elem) { return new WebPro.Widget.Accordion(elem, {canCloseAll:false,defaultIndex:1}); });/* #accordionu2343 */
Muse.Utils.initWidget('#accordionu2368', function(elem) { return new WebPro.Widget.Accordion(elem, {canCloseAll:false,defaultIndex:0}); });/* #accordionu2368 */
Muse.Utils.initWidget('#widgetu635', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu635 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
{% endblock %}