{% extends 'pages/base.html' %}
{% load staticfiles %}
{% load goods_tags %}
{% load articles_tags %}
{% load reviews_tags %}
{% block custom_style %}
<link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/bootstrap.css" id="pagesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/bootstrap-theme.css" id="pagesheet"/>
{% endblock %}
{% block content %}
 {% if banner %}
    <div class="clearfix colelem" id="pu75"><!-- group -->
     <div class="browser_width grpelem" id="u75-bw">
      <div id="u75" style="background: #FFFFFF url('{{ banner.image.url }}') no-repeat center top;"><!-- group -->
       <div class="clearfix" id="u75_align_to_page">
        <a class="nonblock nontext rounded-corners clearfix grpelem" id="u1497-4" href="http://themeforest.net/item/shoppiness-ecommerce-muse-template/8002813?ref=Xstyler"><!-- content --><p>Подробнее</p></a>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u1496-6"><!-- content -->
      <p id="u1496-2">{{ banner.title }}</p>
      <p id="u1496-4">{{ banner.subtitle }}</p>
     </div>
    {% endif %}
    </div>
    <div class="browser_width colelem" id="u77-bw">
     <div id="u77"><!-- group -->
      <div class="clearfix" id="u77_align_to_page">
       <div class="clearfix grpelem" id="u879"><!-- group -->
        <div class="rounded-corners clearfix grpelem" id="u78"><!-- group -->
         <div class="grpelem" id="u876"><!-- custom html -->
          <i class="fa fa-truck"></i>
         </div>
        </div>
           <div class="rounded-corners clearfix grpelem" id="u78-1"><!-- group -->
         <div class="grpelem" id="u876"><!-- custom html -->
          <i class="fa fa-money"></i>
         </div>
        </div>
            <div class="rounded-corners clearfix grpelem" id="u78-2"><!-- group -->
         <div class="grpelem" id="u876"><!-- custom html -->
          <i class="fa fa-gift"></i>
         </div>
        </div>
             <div class="rounded-corners clearfix grpelem" id="u78-3"><!-- group -->
         <div class="grpelem" id="u876"><!-- custom html -->
          <i class="fa fa-thumbs-o-up"></i>
         </div>
        </div>
             <div class="rounded-corners clearfix grpelem" id="u78-4"><!-- group -->
         <div class="grpelem" id="u876"><!-- custom html -->
          <i class="fa fa-user-plus"></i>
         </div>
        </div>
       </div>
<div class="p clearfix grpelem" id="u80-5"><!-- content -->
        <p><span id="u80">Бесплатная доставка</span> &#45; при покупке на сумму свыше 3000 <i class="fa fa-rub"> </i></p>
       </div>
          <div class="p clearfix grpelem" id="u80-5-1"><!-- content -->
        <p><span id="u80">Лучшие цены в интернете</span> и широкий ассортимент</p>
       </div>
          <div class="p clearfix grpelem" id="u80-5-2"><!-- content -->
        <p><span id="u80">Сертифицированная продукция</span> &#45; мы сотрудничаем только с мировыми брендами</p>
       </div>
          <div class="p clearfix grpelem" id="u80-5-3"><!-- content -->
        <p><span id="u80">Конфиденциальная доставка</span> &#45; только Вы знаете, что внутри</p>
       </div>
           <div class="p clearfix grpelem" id="u80-5-4"><!-- content -->
        <p><span id="u80">Индивидуальное обслуживание</span> &#45; персональный менеджер для клиента</p>
       </div>
       <div class="p clearfix grpelem" id="u81-5"><!-- content -->
        <p class="operator-icon"><img class="operator-logo" src="{% static 'pages' %}/images/megafon.svg" alt=""> (+386) 66 777 888</p>
           <p class="operator-icon"><img class="operator-logo" src="{% static 'pages' %}/images/mts.svg" alt=""> (+386) 66 777 888</p>
           <p class="operator-icon"><img class="operator-logo" src="{% static 'pages' %}/images/tele2.svg" alt=""> (+386) 66 777 888</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu103"><!-- group -->
            {% goods_tag goods %}
    </div>
    <div class="browser_width colelem" id="u131-bw">
     {% articles_tag article %}
    </div>
    <div class="clearfix colelem" id="pu145"><!-- group -->
    {% goods_tag_bottom goods %}
    </div>
    <div class="clearfix colelem" id="pu157"><!-- group -->
        {% reviews_tag reviews %}
    </div>
    <div class="verticalspacer"></div>
    <div class="browser_width colelem" id="u289-bw">
     <div id="u289"><!-- group -->
      <div class="clearfix" id="u289_align_to_page_wish">
          <a href="{% url 'contacts' %}"><img src="{% static 'pages' %}/images/wish.jpg" alt=""></a>
      </div>
     </div>
    </div>
{% endblock %}