  {% extends 'pages/base.html' %}
{% load staticfiles %}
{% block custom_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/contact.css" id="pagesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/site_global.css" id="pagesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static 'pages' %}/css/master_b-master.css" id="pagesheet"/>

{% endblock %}
{% block content %}

    <div class="browser_width colelem" id="u2237-bw">
     <div id="u2237"><!-- custom html -->

         <iframe src="https://www.google.com/maps/embed/v1/place?q=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0%2C%20%D1%83%D0%BB.%20%D0%91%D0%BE%D0%BB%D1%8C%D1%88%D0%B0%D1%8F%20%D0%A2%D1%83%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F&key=AIzaSyBiFGlDMLkoLjGu5bjMfVuAa7TGLQ-6nhY" allowfullscreen width="100%" height="450" frameborder="0" scrollwheel="false" style="border:0"></iframe>
</div>
    </div>
    <div class="H1 clearfix colelem" id="u2239-5"><!-- content -->
     <h1>Свяжитесь<span id="u2239-2"> с нами</span></h1>
    </div>
    <div class="clearfix colelem" id="u2497"><!-- group -->
     <div class="p clearfix grpelem" id="u2240-6"><!-- content -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis est nulla pretium mollis et in lacus.</p>
      <p>Vestibulum molestie odio metus, auctor pellentesu lectus semper. Sed eget nisl posuere.</p>
     </div>
     <div class="clearfix grpelem" id="u2178"><!-- group -->
      <a class="nonblock nontext grpelem" id="u2179" href="http://twitter.com"><!-- custom html --><i class="fa fa-comments-o"></i></a>
      <div class="p clearfix grpelem" id="u2181-6"><!-- content -->
       <p id="u2181-2">Наш телефон:&nbsp; (+386) 66 777 888</p>
       <p>С понедельника по пятницу: с 10:00 &#45; до  17:00</p>
      </div>
     </div>
    </div>

<div class="js-form-2">
    <form class="form-grp clearfix colelem" method="post"  action="#"><!-- none box -->
             {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fld-grp clearfix grpelem" id="widgetu2184" data-required="true"><!-- none box -->
      <span class="fld-input NoWrap actAsDiv rounded-corners clearfix grpelem" id="u2187-4"><!-- content -->
         {{ form.name.errors }}
          {{ form.name }}
      </span>
     </div>
     <div class="fld-grp clearfix grpelem" id="widgetu2190" data-required="true" data-type="email"><!-- none box -->
      <span class="fld-input NoWrap actAsDiv rounded-corners clearfix grpelem" id="u2191-4"><!-- content -->
          {{ form.mail.errors }}
          {{ form.mail }}
      </span>
     </div>

     <div class="fld-grp clearfix grpelem" id="widgetu2207" data-required="false"><!-- none box -->
      <span class="fld-textarea actAsDiv rounded-corners clearfix grpelem" id="u2211-4"><!-- content -->
          {{ form.text.errors }}
          {{ form.text }}
      </span>
     </div>
     <div class="fld-grp clearfix grpelem" id="widgetu2212" data-required="true"><!-- none box -->
      <span class="fld-input NoWrap actAsDiv rounded-corners clearfix grpelem" id="u2214-4"><!-- content -->
          {{ form.phone.errors }}
          {{ form.phone }}
      </span>
     </div>
         <div class="clearfix grpelem" id="u2206-4"><!-- content -->
      <p>Отправка сообщения...</p>
     </div>
 <input class="submit-btn NoWrap grpelem" id="u2195-17" type="submit" value=""/><!-- state-based BG images -->
    </form>
</div>


    <div class="verticalspacer"></div>
{% endblock %}
{% block custom_scripts %}

    <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Some files on the server may be missing or incorrect. Clear browser cache and try again. If the problem persists please contact website author.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
$('#u74-bw').registerPositionScrollEffect([{"in":[-Infinity,30],"speed":[null,1]},{"in":[30,Infinity],"speed":[null,0]}]);/* scroll effect */
Muse.Utils.resizeHeight()/* resize height */
Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
$('#u2395').registerPositionScrollEffect([{"in":[-Infinity,15],"speed":[0,1]},{"in":[15,Infinity],"speed":[0,0]}]);/* scroll effect */
Muse.Utils.initWidget('#widgetu2183', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu2183 */
Muse.Utils.initWidget('#widgetu635', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu635 */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
<script src="{% static 'pages' %}/scripts/feedback_form.js" type="text/javascript"></script>
{% endblock %}