.version.about /* version checker */
{
	color: #000009;
	background-color: #FC3BD8;
}

.html
{
	background: #FFFFFF url("../images/about-bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 899.9000000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 123px;
}

#u74
{
	z-index: 272;
	height: 120px;
}

#u74-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 272;
	top: 0px;
}

#u2395
{
	z-index: 273;
	width: 1000px;
	top: 32px;
	left: 10px;
}

#pu1054
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u1054
{
	z-index: 315;
	width: 145px;
}

#u1047-4
{
	z-index: 311;
	width: 110px;
	min-height: 15px;
	margin-left: 35px;
	top: -2px;
	margin-bottom: -2px;
}

#menuu766
{
	z-index: 280;
	width: 405px;
	margin-right: -10000px;
	left: 320px;
}

#u767
{
	width: 79px;
	min-height: 57px;
	margin-right: -10000px;
}

#u768
{
	width: 79px;
	padding-bottom: 40px;
}

#u768:hover
{
	margin: 0px;
}

#u770-4
{
	width: 79px;
	min-height: 17px;
	margin-right: -10000px;
	top: 20px;
}

#u768:hover #u770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u791
{
	width: 79px;
	min-height: 57px;
	margin-right: -10000px;
	left: 81px;
}

#u792
{
	width: 79px;
	padding-bottom: 40px;
}

#u768.MuseMenuActive,#u792:hover
{
	margin: 0px;
}

#u794-4
{
	width: 79px;
	min-height: 17px;
	margin-right: -10000px;
	top: 20px;
}

#u768.MuseMenuActive #u770-4,#u792:hover #u794-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u808
{
	width: 79px;
	min-height: 57px;
	margin-right: -10000px;
	left: 162px;
}

#u809
{
	width: 79px;
	padding-bottom: 40px;
}

#u792.MuseMenuActive,#u809:hover
{
	margin: 0px;
}

#u811-4
{
	width: 79px;
	min-height: 17px;
	margin-right: -10000px;
	top: 20px;
}

#u792.MuseMenuActive #u794-4,#u809:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u815
{
	width: 80px;
	min-height: 57px;
	margin-right: -10000px;
	left: 243px;
}

#u816
{
	width: 80px;
	padding-bottom: 40px;
}

#u809.MuseMenuActive,#u816:hover
{
	margin: 0px;
}

#u818-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 20px;
}

#u809.MuseMenuActive #u811-4,#u816:hover #u818-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2248
{
	width: 80px;
	min-height: 57px;
	margin-right: -10000px;
	left: 325px;
}

#u2251
{
	width: 80px;
	padding-bottom: 40px;
}

#u816.MuseMenuActive,#u2251:hover
{
	margin: 0px;
}

#u2252-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 20px;
}

#u816.MuseMenuActive #u818-4,#u2251:hover #u2252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2251.MuseMenuActive #u2252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u836
{
	z-index: 277;
	width: 34px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 922px;
}

#u89
{
	z-index: 278;
	width: 28px;
	margin-right: -10000px;
}

#u832
{
	z-index: 279;
	width: 34px;
	min-height: 25px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 6px;
	left: -5px;
}

#u845
{
	z-index: 274;
	width: 28px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 966px;
}

#u829
{
	z-index: 275;
	width: 28px;
	margin-right: -10000px;
}

#u89:hover,#u829:hover
{
	width: 28px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u834
{
	z-index: 276;
	width: 34px;
	min-height: 25px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 5px;
	left: -5px;
}

#u920
{
	z-index: 3;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 78px;
}

#pu888-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 108px;
	margin-left: 110px;
}

#u888-5
{
	z-index: 267;
	width: 490px;
	min-height: 41px;
	background-color: transparent;
	line-height: 41px;
	position: relative;
}

#u888-2
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u2496
{
	z-index: 246;
	width: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 34px;
	position: relative;
}

#u889-8
{
	z-index: 247;
	width: 490px;
	min-height: 66px;
	background-color: transparent;
	position: relative;
}

#u1614-6
{
	z-index: 255;
	width: 468px;
	min-height: 52px;
	border-style: solid;
	border-color: #E73049;
	background-color: transparent;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 26px;
	font-size: 15px;
	color: #999999;
	margin-top: 20px;
	position: relative;
	border-width: 0px 0px 0px 2px;
}

#u1615-6
{
	z-index: 261;
	width: 490px;
	min-height: 99px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u891
{
	z-index: 244;
	width: 490px;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 620px;
}

#u891 .clip_frame
{
	-webkit-border-radius: 10px 10px 10px 10px;
}

#u920-bw
{
	z-index: 3;
	height: 415px;
}

#pu1566
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 80px;
}

#u1566
{
	z-index: 235;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u904
{
	z-index: 236;
	width: 320px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
}

#u924-6
{
	z-index: 237;
	width: 280px;
	min-height: 121px;
	background-color: transparent;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
}

#u1535
{
	z-index: 243;
	width: 320px;
	min-height: 104px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #D9D9D9;
	text-align: center;
	font-size: 72px;
	line-height: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
}

#u1540
{
	z-index: 226;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u1544
{
	z-index: 227;
	width: 320px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
}

#u1543-6
{
	z-index: 228;
	width: 280px;
	min-height: 121px;
	background-color: transparent;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
}

#u1541
{
	z-index: 234;
	width: 320px;
	min-height: 104px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #D9D9D9;
	text-align: center;
	font-size: 72px;
	line-height: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
}

#u1545
{
	z-index: 217;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u1546
{
	z-index: 218;
	width: 320px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
}

#u1547-6
{
	z-index: 219;
	width: 280px;
	min-height: 121px;
	background-color: transparent;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
}

#u924-2,#u1543-2,#u1547-2
{
	line-height: 22px;
}

#u1548
{
	z-index: 225;
	width: 320px;
	min-height: 104px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #D9D9D9;
	text-align: center;
	font-size: 72px;
	line-height: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
}

#u2495
{
	z-index: 2;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 41px;
}

#u920_align_to_page,#u2495_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u1588
{
	z-index: 207;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 110px;
}

#u1573
{
	z-index: 208;
	width: 320px;
	height: 300px;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	background: #FFFFFF url(../images/person1.jpg) no-repeat center top;
}

#u1574-8
{
	z-index: 209;
	width: 280px;
	min-height: 119px;
	background-color: transparent;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 37px;
	position: relative;
}

#u1589
{
	z-index: 197;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 450px;
}

#u1590
{
	z-index: 198;
	width: 320px;
	height: 300px;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	background: #FFFFFF url("../images/person2.jpg") no-repeat center top;
}

#u1591-8
{
	z-index: 199;
	width: 280px;
	min-height: 119px;
	background-color: transparent;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 37px;
	position: relative;
}

#u1592
{
	z-index: 187;
	width: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 790px;
}

#u1594
{
	z-index: 188;
	width: 320px;
	height: 300px;
	border-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	background: #FFFFFF url("../images/person3.jpg") no-repeat center top;
}

#u1593-8
{
	z-index: 189;
	width: 280px;
	min-height: 119px;
	background-color: transparent;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 37px;
	position: relative;
}

#u1574-2,#u1591-2,#u1593-2
{
	font-size: 20px;
	line-height: 24px;
}

#u924-4,#u1543-4,#u1547-4,#u1574-4,#u1591-4,#u1593-4
{
	text-align: center;
}

#u1574-6,#u1591-6,#u1593-6
{
	text-align: center;
	padding-top: 10px;
	color: #222222;
}

#u2495-bw
{
	z-index: 2;
	margin-top: 95px;
	height: 506px;
}

#u289
{
	z-index: 169;
	padding-bottom: 31px;
}

#u884
{
	z-index: 184;
	width: 36px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 110px;
}

#u887
{
	z-index: 185;
	width: 36px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u885
{
	z-index: 186;
	width: 36px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u293-5
{
	z-index: 179;
	width: 441px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 159px;
}

#u318
{
	z-index: 170;
	width: 234px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 875px;
}

#u294
{
	z-index: 171;
	width: 51px;
	margin-right: -10000px;
}

#u300
{
	z-index: 173;
	width: 51px;
	margin-right: -10000px;
	left: 61px;
}

#u306
{
	z-index: 175;
	width: 51px;
	margin-right: -10000px;
	left: 122px;
}

#u312
{
	z-index: 177;
	width: 51px;
	margin-right: -10000px;
	left: 183px;
}

#u289-bw
{
	z-index: 169;
	height: 67px;
}

#pu290
{
	width: 0.01px;
	margin-left: -100px;
}

#u290
{
	z-index: 28;
	padding-bottom: 14px;
}

#u392-15
{
	z-index: 154;
	width: 373px;
	min-height: 165px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 110px;
}

#u2459
{
	z-index: 113;
	width: 170px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 515px;
}

#u586-4
{
	z-index: 114;
	width: 170px;
	min-height: 33px;
}

#menuu510
{
	z-index: 118;
	width: 170px;
}

#u552
{
	width: 170px;
	min-height: 16px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u552:hover
{
	margin: 0px -10000px 0px 0px;
}

#u552:active
{
	margin: 0px -10000px 0px 0px;
}

#u553
{
	z-index: 121;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u552.MuseMenuActive,#u552:hover #u553
{
	margin: 0px -10000px 0px 0px;
}

#u552:active #u553
{
	margin: 0px -10000px 0px 0px;
}

#u554-4
{
	width: 146px;
	min-height: 16px;
	padding-left: 10px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u552:hover #u554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u552:active #u554-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u559
{
	width: 170px;
	min-height: 16px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u552.MuseMenuActive #u553,#u559:active
{
	margin: 0px -10000px 0px 0px;
}

#u562
{
	z-index: 128;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u559.MuseMenuActive,#u559:active #u562
{
	margin: 0px -10000px 0px 0px;
}

#u561-4
{
	width: 146px;
	min-height: 16px;
	padding-left: 10px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u552.MuseMenuActive #u554-4,#u559:hover #u561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u559:active #u561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u566
{
	width: 170px;
	min-height: 16px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u559.MuseMenuActive #u562,#u566:active
{
	margin: 0px -10000px 0px 0px;
}

#u568
{
	z-index: 135;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u566.MuseMenuActive,#u566:active #u568
{
	margin: 0px -10000px 0px 0px;
}

#u569-4
{
	width: 146px;
	min-height: 16px;
	padding-left: 10px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u559.MuseMenuActive #u561-4,#u566:hover #u569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u566:active #u569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u573
{
	width: 170px;
	min-height: 16px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u566.MuseMenuActive #u568,#u573:active
{
	margin: 0px -10000px 0px 0px;
}

#u574
{
	z-index: 142;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u573.MuseMenuActive,#u573:active #u574
{
	margin: 0px -10000px 0px 0px;
}

#u575-4
{
	width: 146px;
	min-height: 16px;
	padding-left: 10px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u566.MuseMenuActive #u569-4,#u573:hover #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u573:active #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u580
{
	width: 170px;
	min-height: 16px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u573.MuseMenuActive #u574,#u580:active
{
	margin: 0px -10000px 0px 0px;
}

#u582
{
	z-index: 149;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u580.MuseMenuActive,#u580:active #u582
{
	margin: 0px -10000px 0px 0px;
}

#u581-4
{
	width: 146px;
	min-height: 16px;
	padding-left: 10px;
	margin-right: -10000px;
	top: 4px;
	left: 14px;
}

#u573.MuseMenuActive #u575-4,#u580:hover #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u580:active #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u580.MuseMenuActive #u581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	margin: 0px -10000px 0px 0px;
}

#u2461
{
	z-index: 29;
	width: 235px;
	padding-right: 1px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 875px;
}

#u588-6
{
	z-index: 30;
	width: 234px;
	min-height: 58px;
}

#widgetu635
{
	z-index: 36;
	width: 0.01px;
	height: 128px;
	margin-left: 1px;
	margin-top: 11px;
}

#widgetu664
{
	z-index: 37;
	width: 236px;
	height: 40px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu664.fld-err-st
{
	margin: -1px -10000px 0px 0px;
}

#u668-4
{
	z-index: 38;
	width: 214px;
	min-height: 16px;
	margin-right: -10000px;
	padding: 11px 10px;
}

#widgetu657
{
	z-index: 42;
	width: 236px;
	height: 40px;
	margin-right: -10000px;
	margin-top: 51px;
	left: -1px;
}

#widgetu657.fld-err-st
{
	margin: 51px -10000px 0px 0px;
}

#u658-4
{
	z-index: 43;
	width: 214px;
	min-height: 16px;
	margin-right: -10000px;
	padding: 11px 10px;
}

#widgetu664.fld-err-st #u668-4,#widgetu657.fld-err-st #u658-4
{
	padding-top: 11px;
	padding-bottom: 11px;
	min-height: 16px;
	width: 214px;
	margin: 0px -10000px 0px 0px;
}

#widgetu664_input,#widgetu664_prompt,#widgetu657_input,#widgetu657_prompt
{
	width: 214px;
	min-height: 16px;
	padding: 11px 10px;
}

#widgetu664.fld-err-st #widgetu664_input,#widgetu664.fld-err-st #widgetu664_prompt,#widgetu657.fld-err-st #widgetu657_input,#widgetu657.fld-err-st #widgetu657_prompt
{
	padding-top: 11px;
	padding-bottom: 11px;
}

#u662-4
{
	z-index: 47;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 103px;
}

#u650-4
{
	z-index: 51;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 103px;
}

#u651-4
{
	z-index: 55;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 103px;
}

#widgetu635.frm-sub-st #u662-4,#widgetu635.frm-subm-err-st #u650-4,#widgetu635.frm-subm-ok-st #u651-4
{
	min-height: 25px;
}

#u663-13
{
	z-index: 59;
	min-height: 37px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 194px;
}

#u290-bw
{
	z-index: 28;
	height: 246px;
}

#u2460
{
	z-index: 72;
	width: 170px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 705px;
}

#u587-4
{
	z-index: 73;
	width: 170px;
	min-height: 33px;
}

#menuu694
{
	z-index: 77;
	width: 170px;
}

#u551,#u709
{
	width: 170px;
}

#u710
{
	width: 170px;
	min-height: 14px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u580.MuseMenuActive #u582,#u710:hover
{
	margin: 0px -10000px 0px 0px;
}

#u710:active
{
	margin: 0px -10000px 0px 0px;
}

#u713
{
	z-index: 80;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u710.MuseMenuActive,#u710:hover #u713
{
	margin: 0px -10000px 0px 0px;
}

#u710:active #u713
{
	margin: 0px -10000px 0px 0px;
}

#u712-4
{
	width: 146px;
	min-height: 14px;
	padding-left: 10px;
	margin-right: -10000px;
	top: 5px;
	left: 35px;
}

#u710:hover #u712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u710:active #u712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u696
{
	width: 170px;
	min-height: 14px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u710.MuseMenuActive #u713,#u696:active
{
	margin: 0px -10000px 0px 0px;
}

#u698
{
	z-index: 87;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u696.MuseMenuActive,#u696:active #u698
{
	margin: 0px -10000px 0px 0px;
}

#u699-4
{
	width: 146px;
	min-height: 14px;
	padding-left: 10px;
	margin-right: -10000px;
	top: 5px;
	left: 14px;
}

#u710.MuseMenuActive #u712-4,#u696:hover #u699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u696:active #u699-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u728
{
	width: 170px;
	min-height: 14px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u696.MuseMenuActive #u698,#u728:active
{
	margin: 0px -10000px 0px 0px;
}

#u729
{
	z-index: 94;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u728.MuseMenuActive,#u728:active #u729
{
	margin: 0px -10000px 0px 0px;
}

#u730-4
{
	width: 146px;
	min-height: 14px;
	padding-left: 10px;
	margin-right: -10000px;
	top: 5px;
	left: 14px;
}

#u696.MuseMenuActive #u699-4,#u728:hover #u730-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u728:active #u730-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u703
{
	width: 170px;
	min-height: 14px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u728.MuseMenuActive #u729,#u703:active
{
	margin: 0px -10000px 0px 0px;
}

#u705
{
	z-index: 101;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u703.MuseMenuActive,#u703:active #u705
{
	margin: 0px -10000px 0px 0px;
}

#u704-4
{
	width: 146px;
	min-height: 14px;
	padding-left: 10px;
	margin-right: -10000px;
	top: 5px;
	left: 14px;
}

#u728.MuseMenuActive #u730-4,#u703:hover #u704-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u703:active #u704-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u558,#u565,#u572,#u579,#u695,#u727,#u702,#u734
{
	width: 170px;
	margin-top: 2px;
}

#u735
{
	width: 170px;
	min-height: 14px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u703.MuseMenuActive #u705,#u735:active
{
	margin: 0px -10000px 0px 0px;
}

#u738
{
	z-index: 108;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 5px;
}

#u735.MuseMenuActive,#u735:active #u738
{
	margin: 0px -10000px 0px 0px;
}

#u735.MuseMenuActive #u738
{
	margin: 0px -10000px 0px 0px;
}

#u736-4
{
	width: 146px;
	min-height: 14px;
	padding-left: 10px;
	margin-right: -10000px;
	top: 5px;
	left: 14px;
}

#u703.MuseMenuActive #u704-4,#u735:hover #u736-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u735:active #u736-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u291
{
	z-index: 4;
	padding-bottom: 23px;
}

#u289_align_to_page,#u290_align_to_page,#u291_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
}

#u320-4
{
	z-index: 24;
	width: 510px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 110px;
}

#menuu321
{
	z-index: 5;
	width: 319px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 790px;
}

#u363
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
}

#u364
{
	width: 105px;
	padding-bottom: 20px;
}

#u366-4
{
	width: 105px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u735.MuseMenuActive #u736-4,#u364:hover #u366-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u372
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
	left: 107px;
}

#u375
{
	width: 105px;
	padding-bottom: 20px;
}

#u378-4
{
	width: 105px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u364.MuseMenuActive #u366-4,#u375:hover #u378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u379
{
	width: 105px;
	min-height: 34px;
	margin-right: -10000px;
	left: 214px;
}

#u380
{
	width: 105px;
	padding-bottom: 20px;
}

#u2251.MuseMenuActive,#u364.MuseMenuActive,#u375.MuseMenuActive,#u380.MuseMenuActive
{
	margin: 0px;
}

#u383-4
{
	width: 105px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u375.MuseMenuActive #u378-4,#u380:hover #u383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u380.MuseMenuActive #u383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u291-bw
{
	z-index: 4;
	height: 56px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}
